---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

.layout--about div.profile {
  max-width: 250px; 
  
  float: none !important; 
  margin-left: auto !important;
  margin-right: 0 !important;
}